.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
}

.form input {
margin: 10px;
}

.form button {
    max-width: 200px;
    width: 100%;
    margin: 10px;
}